html,
body > #root {
  height: 100vh;
  width: 100vw;
  background-color: #E5E5E5;
}

.navpad {
  padding-left: 215px;
  padding-right: 215px;
}

input:focus {
  outline:none;
}

.slider {
  height: 500px;
}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 560px) {
  html,
  body > #root {
    height: 100%;
    width: 100%;
  }
  .info{
    display: none;
  }
}
// .title {
  //   padding-left: 370px;
// }
// @media (max-width: 600px) {
//   html,
//   body > #root {
//     height: 100% !important;
//     width: 100% !important;
//   }
// }

// @media (min-width: 1900px) {
//   html,
//   body > #root {
//     height: 200% !important;
//     width: 80% !important;
//   }
// }

// /* Smartphones (portrait and landscape) ----------- */
// @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
//   html,
//   body > #root {
//     height: 100%;
//     width: 100%;
//   }
// }

// /* Smartphones (landscape) ----------- */
// @media only screen and (min-width: 321px) {
//   html,
//   body > #root {
//     height: 100%;
//     width: 100%;
//   }
// }

// /* iPads (portrait and landscape) ----------- */
// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
//   html,
//   body > #root {
//     height: 100%;
//     width: 100%;
//   }
// }

// /* iPads (landscape) ----------- */
// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
//   html,
//   body > #root {
//     height: 100%;
//     width: 100%;
//   }
// }

/* iPads (portrait) ----------- */
@media only screen and (max-device-width: 1024px) and (orientation: portrait) {
  html,
  body > #root {
    height: 100%;
    width: 100%;
  }
  .navpad {
    padding-left: 1px;
    padding-right: 1px;
  }
  .slider {
    width: auto;
  }
}

// /* Desktops and laptops ----------- */
// @media only screen and (min-width: 1224px) {
//   html,
//   body > #root {
//     height: 100%;
//     width: 80%;
//   }
// }

// /* Large screens ----------- */
// @media only screen and (min-width: 1824px) {
//   html,
//   body > #root {
//     height: 200%;
//     width: 80%;
//   }
// }

// /* iPhone 4 ----------- */
// @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
//   html,
//   body > #root {
//     height: 100%;
//     width: 100%;
//   }
// }
